BookWebServices/BookClient/Connected Services/calcref/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://nhopro1.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://nhopro1.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nhopro1.org/">
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="publisher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds">
        <s:complexType />
      </s:element>
      <s:element name="dsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsResult" type="tns:ArrayOfClass1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClass1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Class1" nillable="true" type="tns:Class1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Class1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="publisher" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ds_id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_idResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_idResult" type="tns:Class1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_author">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_authorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_authorResult" type="tns:ArrayOfClass1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_published">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pub" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_publishedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_publishedResult" type="tns:ArrayOfClass1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="removeResult" type="tns:ArrayOfClass1" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="dsSoapIn">
    <wsdl:part name="parameters" element="tns:ds" />
  </wsdl:message>
  <wsdl:message name="dsSoapOut">
    <wsdl:part name="parameters" element="tns:dsResponse" />
  </wsdl:message>
  <wsdl:message name="ds_idSoapIn">
    <wsdl:part name="parameters" element="tns:ds_id" />
  </wsdl:message>
  <wsdl:message name="ds_idSoapOut">
    <wsdl:part name="parameters" element="tns:ds_idResponse" />
  </wsdl:message>
  <wsdl:message name="ds_authorSoapIn">
    <wsdl:part name="parameters" element="tns:ds_author" />
  </wsdl:message>
  <wsdl:message name="ds_authorSoapOut">
    <wsdl:part name="parameters" element="tns:ds_authorResponse" />
  </wsdl:message>
  <wsdl:message name="ds_publishedSoapIn">
    <wsdl:part name="parameters" element="tns:ds_published" />
  </wsdl:message>
  <wsdl:message name="ds_publishedSoapOut">
    <wsdl:part name="parameters" element="tns:ds_publishedResponse" />
  </wsdl:message>
  <wsdl:message name="removeSoapIn">
    <wsdl:part name="parameters" element="tns:remove" />
  </wsdl:message>
  <wsdl:message name="removeSoapOut">
    <wsdl:part name="parameters" element="tns:removeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds">
      <wsdl:input message="tns:dsSoapIn" />
      <wsdl:output message="tns:dsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <wsdl:input message="tns:ds_idSoapIn" />
      <wsdl:output message="tns:ds_idSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_author">
      <wsdl:input message="tns:ds_authorSoapIn" />
      <wsdl:output message="tns:ds_authorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_published">
      <wsdl:input message="tns:ds_publishedSoapIn" />
      <wsdl:output message="tns:ds_publishedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input message="tns:removeSoapIn" />
      <wsdl:output message="tns:removeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://nhopro1.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds">
      <soap:operation soapAction="http://nhopro1.org/ds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <soap:operation soapAction="http://nhopro1.org/ds_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_author">
      <soap:operation soapAction="http://nhopro1.org/ds_author" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_published">
      <soap:operation soapAction="http://nhopro1.org/ds_published" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="http://nhopro1.org/remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://nhopro1.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds">
      <soap12:operation soapAction="http://nhopro1.org/ds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <soap12:operation soapAction="http://nhopro1.org/ds_id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_author">
      <soap12:operation soapAction="http://nhopro1.org/ds_author" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_published">
      <soap12:operation soapAction="http://nhopro1.org/ds_published" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap12:operation soapAction="http://nhopro1.org/remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44379/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44379/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>