WebSinhVien/FormsSinhVien/Service References/tothuy/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maSv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lop" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="khoa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tuoi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listDS">
        <s:complexType />
      </s:element>
      <s:element name="listDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listDSResult" type="tns:ArrayOfSinhVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sinhVien" nillable="true" type="tns:sinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="maSV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="khoa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tuoi" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ds_id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_idResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_idResult" type="tns:sinhVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_theoTen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_theoTenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_theoTenResult" type="tns:ArrayOfSinhVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoaThanhVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoaThanhVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xoaThanhVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="listDSSoapIn">
    <wsdl:part name="parameters" element="tns:listDS" />
  </wsdl:message>
  <wsdl:message name="listDSSoapOut">
    <wsdl:part name="parameters" element="tns:listDSResponse" />
  </wsdl:message>
  <wsdl:message name="ds_idSoapIn">
    <wsdl:part name="parameters" element="tns:ds_id" />
  </wsdl:message>
  <wsdl:message name="ds_idSoapOut">
    <wsdl:part name="parameters" element="tns:ds_idResponse" />
  </wsdl:message>
  <wsdl:message name="ds_theoTenSoapIn">
    <wsdl:part name="parameters" element="tns:ds_theoTen" />
  </wsdl:message>
  <wsdl:message name="ds_theoTenSoapOut">
    <wsdl:part name="parameters" element="tns:ds_theoTenResponse" />
  </wsdl:message>
  <wsdl:message name="xoaThanhVienSoapIn">
    <wsdl:part name="parameters" element="tns:xoaThanhVien" />
  </wsdl:message>
  <wsdl:message name="xoaThanhVienSoapOut">
    <wsdl:part name="parameters" element="tns:xoaThanhVienResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listDS">
      <wsdl:input message="tns:listDSSoapIn" />
      <wsdl:output message="tns:listDSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <wsdl:input message="tns:ds_idSoapIn" />
      <wsdl:output message="tns:ds_idSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_theoTen">
      <wsdl:input message="tns:ds_theoTenSoapIn" />
      <wsdl:output message="tns:ds_theoTenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xoaThanhVien">
      <wsdl:input message="tns:xoaThanhVienSoapIn" />
      <wsdl:output message="tns:xoaThanhVienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDS">
      <soap:operation soapAction="http://tempuri.org/listDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <soap:operation soapAction="http://tempuri.org/ds_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_theoTen">
      <soap:operation soapAction="http://tempuri.org/ds_theoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoaThanhVien">
      <soap:operation soapAction="http://tempuri.org/xoaThanhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDS">
      <soap12:operation soapAction="http://tempuri.org/listDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_id">
      <soap12:operation soapAction="http://tempuri.org/ds_id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_theoTen">
      <soap12:operation soapAction="http://tempuri.org/ds_theoTen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoaThanhVien">
      <soap12:operation soapAction="http://tempuri.org/xoaThanhVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:62626/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:62626/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>